body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color:rgb(212, 183, 238);
}

.banner-column{
    background-color: rgb(121,82,179);
}

.navbar-container{
    background-color: rgb(23, 5, 39);
    position: sticky;
    top: 0;
    z-index: 2;
}

.about-container{
    background-color: rgb(121,82,179);
}

.education-container{
    background-color:rgb(212, 183, 238);
}

.circle{
    background-color: rgb(220,53,69);
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.project-container{
    background-color: rgb(121,82,179);
}

.portfolio-container{
    background-color:rgb(212, 183, 238);
}

.contact-container{
    background-color: rgb(121,82,179);
}

.inner-form{
    background-color: rgb(187, 115, 255);
}

.btn-back{
    background-color: rgb(40,167,69);
}

.btn-back:hover{
    color: black!important;
    background-color: yellowgreen;
}

.footer-container{
    background-color: rgb(212, 183, 238);
}

.circle-logos{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(44, 44, 44);
    font-size: 40px;
    text-align: center;
    color:rgb(212, 183, 238)
}

.circle-logos:hover{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    color:rgb(44, 44, 44)
}